<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Система контроля доступа</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if 'role' in session and session['role'] == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_menu">Меню администратора</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/register_user">Зарегистрировать пользователя</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/view_users">Просмотреть пользователей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/edit_access">Изменить доступ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/access_requests">Запросы на доступ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/visitors">Управление посетителями</a>
                    </li>
                {% elif 'role' in session and session['role'] == 'employee' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/employee_menu">Меню сотрудника</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/request_access">Запросить доступ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employee/zones">Просмотреть доступные зоны</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
